extends layout

block content
  h1= title
  each framework in frameworks
    div(class="container")
        ul
          li= `Name: `
            a(href=framework.urlid)= `${framework.title}`
  p
    a(href='/technologies/frameworks/create') Add New Framework