extends layout

block content

    each language in languages
        div(class="container")
            ul
                li= "Name: "
                    a(href= language.urlid) !{language.title}   
    p
        a(href='/technologies/languages/create') Add New Language