doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block scripts 
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header(class='container')
      h1 devSTACKER
    
    block content